@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

body{
  background-color: black;
  margin: 0 auto;
  max-width: 1440px;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4{
  font-family: "Oswald", sans-serif;
}

.hero img{
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
}

.nextSeason img{
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
  clip-path: polygon(0 0, 100% 0, 50% 100%, 0 100%);
}